@font-face {
font-family: Roboto-Light;
src: url(../FONTS/Roboto-Light.ttf);
}

@font-face {
font-family: OpenSans-Light;
src: url(../FONTS/OpenSans-Light.ttf);
}

@font-face {
font-family: OpenSans-Regular;
src: url(../FONTS/OpenSans-Regular.ttf);
}

@font-face {
font-family: OpenSans-Bold;
src: url(../FONTS/OpenSans-Bold.ttf);
}

@font-face {
font-family: Roboto-Medium;
src: url(../FONTS/Roboto-Medium.ttf);
}

@font-face{
font-family: Open Sans;
src: url(../FONTS/OpenSans-Regular.ttf);
}

@font-face{
font-family: Open Sans Semi Bold;
src: url(../FONTS/OpenSans-Semibold.ttf);
}