/*Stylsheet*/

*{
margin: 0;
padding: 0;
}

a {
text-decoration: none;
}

html{
background-color: rgb(235,235,235);
background-size: auto 100%;
background-repeat: no-repeat;
width: 100%;
height: 100%;
min-width: 1000px;
}

header {
padding: 20px;
background-color: rgb(255, 84, 0);
border-bottom: 5px solid rgb(0, 0, 0);
}

header .row {
display: flex;
align-items: center;
}

header h1 {
display: flex;
font-weight: 700;
margin: 0;
}

header ul {
display: flex;
margin-left: auto;
list-style-type: none;
}

header h3 {
padding: 0 20px;
margin: 0;
}

.nav li:hover {
border-bottom: 2px solid black;
}

header a {
text-decoration: none;
color: white;
}

header a:hover {
text-decoration: none;
color: black;
}

body {
background-image: url("../IMG/pattern.png");
background-position: center;
}

.pictures {
text-align: center;
margin-top: 5px;
margin-bottom: 5px;
clear: both;
}

.pictures #Logo {
margin-right: 50px;
}

.pictures #WoW {
margin-left: 50px;
}

.text {
max-width: 780px; 
Margin-top: 50px;
position: center; 
margin-right: auto; 
margin-left: auto; 
background-color: rgba(199, 199, 199, 0.6);
border-style: solid;
border-width: 15px;
border-color: rgba(199, 199, 199, 0.1);
}

.text h1 {
font-family: 'Orbitron', sans-serif;
}

.text-title {
display: flex;
}

.text-title h1 {
margin-right: auto;
margin-left: auto;
text-align: center;
}

.text-text {
display: flex;
}

.text-text p {
max-width: 2000px;
margin-right: auto;
text-align: left;
}

.text-video {
display: flex;
}

.active{
border-bottom:2px solid rgb(255, 255, 255);
}

#text_footer a {
color: white;
}

#text_footer:hover a {
color: rgb(200, 200, 200);
}

/* Creators: Daan, Jesse, Matthijs, Thijs */
/* Project: Level 5 */