/*mobile*/

* {
margin: 0;
padding: 0;
}

a {
text-decoration: none;
}

html {
background-color: rgb(235,235,235);
background-image: url("../IMG/Background/background-2.png");
background-attachment: fixed;
background-position: center;
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
background-repeat: no-repeat;
width: 100%;
height: (100% + 800px);
}


.container{
position: fixed;
width:100%;
clear:both;
margin-top: -50px;
}

#top_body_wrapper>.row{
position: fixed;
height: 20px;
margin-top: -60px;
}

#top_body_wrapper>.row>a>h1.Logo{
position: flex;
font-size:16px;
margin-top:25px;
}

#top_body_wrapper>.row>a[id=mobile_enabler]{
position: fixed;
right: 8px;
margin-top: -25px;
}

#top_body_wrapper>.row>a[id=mobile_enabler]>img{
height: 34px;
width: 34px;
}

#top_body_wrapper>.row>ul{
width: 100%;
height: auto;
background-color: rgba(120,120,120,1);
background-color: rgba(255,255,255,1);
background-image: url('../IMG/noisy.png');
background-size: auto auto;
display: none;
}

.logo{
margin-top:-20px;
}


header {
padding: 20px;
background-color: rgb(255, 84, 0);
border-bottom: 5px solid rgb(55, 55, 55);
}

header h1 {
display: flex;
font-weight: 700;
margin: 0;
font-family: OpenSans-Bold;
max-width:auto;
}

.logo{
max-width: auto 100%;
}

header ul {
display: flex;
margin-left: auto;
list-style-type: none;
float: right;
position: ;
top: -50px;
}

header li{
float: left;
transition-duration: 0.2s;
}

header h3 {
padding: 0 20px;
margin: 0;
font-family:  OpenSans-Bold;
}

header a {
text-decoration: none;
color: white;
font-family: OpenSans-Bold;
padding: 0 20px;
max-width:23px;
}

header a:hover {
text-decoration: none;
color: black;
}

header>.row>ul>li>a:hover{
background-color: rgba(170,170,170,0.9);
border-bottom: 20px;
border-color: rgba(170,170,170,0.7);
}

.active a {
color: black;
}

#top_body_wrapper>.row>ul{
width: 100%;
height: auto;
background-color: rgba(120,120,120,1);
background-color: rgba(255,255,255,1);
background-image: url('../IMG/noisy.png');
background-size: auto auto;
display: none;
}

#top_body_wrapper>.row>ul>li{
width: 100%;
height: 35px;
border-bottom: solid 1px rgba(20,20,20,0.6);
background: -moz-linear-gradient(top,  rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.35) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.3)), color-stop(100%,rgba(0,0,0,0.35)));
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.35) 100%);
background: -o-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.35) 100%);
background: -ms-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.35) 100%);
background: linear-gradient(to bottom,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.35) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d000000', endColorstr='#59000000',GradientType=0 );
}

#top_body_wrapper>.row>ul>li>a{
line-height: 35px;
font-family: PenultimateLightRegular;
text-decoration: none;
color: rgb(230,230,230);
font-size: 25px;
padding-left: 5%;
height: 35px;
width: 100%;
}


.pictures {
display:none;
}

.pictures #Logo {
margin-right: 25px;
}

.pictures #eurekacup {
margin-left: 25px;
}

#middle_body_wrapper{
width: calc(100% -10px);
min-height: 60%;
height: auto;
float:center;
margin: 0 auto;
}

.text {
max-width: 780px; 
Margin-top: 50px;
position: center; 
margin-right: auto; 
margin-left: auto; 
background-color: rgba(199, 199, 199, 0.6);
border-style: solid;
border-width: 15px;
border-color: rgba(199, 199, 199, 0.1);
}

.text h1 {
font-family: 'Orbitron', sans-serif;
}

.text-title {
display: flex;
}

.text-title h1 {
margin-right: auto;
margin-left: auto;
text-align: center;
}

.text-text {
display: flex;
margin-top:20px;
}

.text-text p {
max-width: 2000px;
margin-right: auto;
text-align: left;
}

.text-video {
display: flex;
margin-top: 25px;
}

#text_footer a {
color: white;
}

#text_footer:hover a {
color: rgb(200, 200, 200);
}

#contact_info {
max-width: 2000px;
text-align: left;
}

.opdrachtgevers {
display: block;
text-align: center;
margin-top: 30px;
margin-bottom: -70px;
clear: both;
}

#bottom_body_wrapper{
width:100%;
height:auto;
bottom:20px;
color:rgb(255,255,255);
background-color:rgb(20,20,20);
margin-top:120px;
font-family: OpenSans-Light;
border-bottom: 20px dotted rgb(20,20,20);
}

#bottom_boddy_wrapper>footer>#text_footer{
text-align:center;
position:absolute;
font-size:6px;
color:rgb(255,255,255);
width:800px;
height:30px;
margin-top:30px;
}

#text_footer{
text-align:center;
font-family: OpenSans-Light;
}

#footer_lose{
height:2px;
}

#footer_menu{
width:640px;
height:65px;
margin-top:12px;
}

#footer_menu>ul{
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
white-space: nowrap;
margin-top: 30px;
width:640px;
height:31px;
}

#footer_menu>ul>li{
transition-duration: 0.2s;
display: inline;
}

#footer_menu>ul>li>a{
display: inline-block;
font-family: Roboto-Light;
text-decoration: none;
color: rgb(230,230,230);
font-size: 7px;
padding:6px 20px;
border-right: 1px solid rgb(230,230,230); ;
}

#footer_menu>ul>li>a:hover{
color:rgb(20,20,120);
}

#heigh{
margin-top:-74px;
margin-right:20px;
float:right;
width:15px;
height:25px;
}

#social{
width: 100%;
margin: 0 auto;
position: relative; 
}

#social{
border-bottom: 1px dashed rgb(120,120,120);
}

#socialicons{
margin: 0 auto;
}

#socialicons>li>a>img{
margin-left:10px;
margin-right:10px;
}

#socialicons>li>a{
display: block-inline;
height: 16px;
outline: none;
opacity: 0.4;
margin: auto;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
filter: alpha(opacity=40);
-moz-opacity: 0.4;
-khtml-opacity: 0.4;
}

#social>ul{
list-style-type: none;
overflow: hidden;
white-space: nowrap;
width:240px;
height:50px;
}

#social>ul>li{
transition-duration: 0.2s;
display: inline;
}

/* Creators: Daan, Jesse, Matthijs, Thijs */
/* Project: Level 5 */