/* Wide Stylesheet */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400&subset=latin,latin-ext);

*{
margin: 0;
padding: 0;
}

html{
background-size: auto 100%;
background-repeat: no-repeat;
width: 100%;
height: calc (100% + 20px);
min-width: 1000px;
}

body{
width: 100%;
height: 100%;
background-color: transparent;
}

a{
color:rgba(35,40,45,1);
font-size:15px;
text-decoration: none;
font-family: 'Open Sans', sans-serif;
}

a:hover{
color:rgb(0,0,200);
text-decoration: none;
}

p{
color:rgba(35,40,45,1);
font-size:17px;
font-family: 'Open Sans', sans-serif;
margin-left:3px;
}

#middle_body_wrapper a{
margin-left:3px;
}

h1{
color:rgba(35,40,45,1);
font-family: 'Open Sans', sans-serif;
font-weight: 400;
font-size:23px;
}

h2 {
margin: 0;
font-size: 21px;
margin-left:3px;
padding-left: 3px;
font-weight: 400;
line-height: 1.2;
color:rgba(35,40,45,1);
font-family: 'Open Sans', sans-serif;
}

h3{
margin: 1.33em 0 0;
font-size: 16px;
margin-left:3px;
}

h1,h3,h4,h5,h6{
color:rgba(35,40,45,1);
font-family: 'Open Sans', sans-serif;
}

#body_wrapper{
width:100%;
min-width:1000px;
height:auto;
min-height:100%;
background-color:rgb(222,222,222);
}

#left_body_wrapper{
float:left;
width:140px;
height:auto;
position:fixed;
min-height:100%;
margin-top:40px;
}

#side_menu{
width:140px;
height:auto;
position:absolute;
min-height:100%;
background-color:rgb(82, 172, 204);
}

#side_menu>ul{
list-style-type: none;
margin: 0;
padding: 0;
}

#side_menu>ul>li{
line-height: 18px;
min-height:40px;
}

#side_menu>ul>li>a{
display: block;
color: rgb(255,255,255);
padding: 8px 0 8px 16px;
text-decoration: none;
font-family: 'Open Sans', sans-serif;
font-size: 14.3px;
border-left: 4px solid transparent;
}

#side_menu>ul>li:hover{
border-color: #aa9d88;
color: rgb(232,231,231);
}

#side_menu>ul>li.active>a {
color: rgb(255,255,255);
border-color: #4796b3;
background: rgb(158,186,160));
}

#side_menu>ul>li.active{
border-color: #4796b3;
}

#side_menu>ul>li>a:hover{
background-color: rgb(9, 100, 132);
border-color: #4796b3;
color: rgb(255,255,255);
}

.treeview-menu{
position:relative;
background-color:rgb(71, 150, 179);
}

.treeview-menu>li>a{
position:absolute;
display: block;
color: rgb(240,240,240);
margin-top:-20px;
padding-left:23px;
font-family: 'Open Sans', sans-serif;
font-size: 14px;
}

.treeview-menu>li>a:hover{
color: rgb(255,255,255);
}

#middle_body_wrapper{
text-align:left;
margin-top:70px;
max-width: calc(100% - 14%);
min-width: calc(100% - 14%);
background-color:rgb(222,222,222);
float:right;
}

#local_page{
background-color:rgb(9, 100, 132);
margin-right:50px;
margin-top:40px;
}

#local_page>p{
color:rgb(255,255,255);
}

#local_page>i>.fa{
color: rgb(0,0,0);
}

#welcome_message{
background-color:rgb(255,255,255);
position:center;
float:center;
margin-right:3%;
margin-top:40px;
border: 1px solid #e5e5e5;
box-shadow: 0 1px 1px rgba(0,0,0,.04);
border-radius: 5px;
}

#welcome_message_2{
background-color:rgb(255,255,255);
position:center;
float:center;
margin-right:3%;
margin-top:15px;
border: 1px solid #e5e5e5;
box-shadow: 0 1px 1px rgba(0,0,0,.04);
border-radius: 5px;
}

#text_welcome_message{
margin-top:30px;
}

#statics_static{
background-color:rgb(255,255,255);
float:right;
width:71.5%;
margin-left:15px;
margin-top:15px;
margin-right:50px;
border: 1px solid #e5e5e5;
box-shadow: 0 1px 1px rgba(0,0,0,.04);
border-radius: 5px;
}

#page_static{
height:auto;
min-height:70px;
margin-top:15px;
border: 1px solid #e5e5e5;
background-color:rgb(255,255,255);
box-shadow: 0 1px 1px rgba(0,0,0,.04);
border-radius: 5px;
}

#text_page_static{
max-width:130px;
float:left;
}

#page_static_aantal{
float:right;
}

#time_static{
height:auto;
margin-top:15px;
border: 1px solid #e5e5e5;
background-color:rgb(255,255,255);
box-shadow: 0 1px 1px rgba(0,0,0,.04);
border-radius: 5px;
}

#time_static_time>#footer-2{
margin-top:26px;
font-size:23px;
font-family: 'Open Sans', sans-serif;
margin-left:3px;
}

#users_static{
height:auto;
min-height:70px;
margin-top:15px;
border: 1px solid #e5e5e5;
background-color:rgb(255,255,255);
box-shadow: 0 1px 1px rgba(0,0,0,.04);
border-radius: 5px;
}

#txt_users_static{
float:left;
max-width:130px;
}

#users_static_aantal{
float:right;
}

#recent_static{
max-width:260px;
height:auto;
min-height:70px;
margin-top:15px;
border: 1px solid #e5e5e5;
background-color:rgb(255,255,255);
box-shadow: 0 1px 1px rgba(0,0,0,.04);
border-radius: 5px;
}

#recent_static_info{
margin-top:20px;
margin-left:8px;
}

#recent_static_info>p{
color:rgb(20,20,145);
}

#txt_statics_static{
float:left;
text-align:left;
}

#cirkel_diagram{
margin-top:65px;
float:left;
max-width:100%;
}

#cirkel_diagram>p{
max-width:100%;
}

#cirkel_diagram>img{
margin-left:-30px;
max-width: 100%; 
height: auto;
}

#diagram{
margin-right:-10px;
}

#diagram>p{
margin-right:-40px;
max-width:100%;
}

#diagram>iframe{
margin-right:50px;
}

#diagram{
float:left;
margin-top:65px;
margin-left:80px;
max-width:100%;
}

iframe{
max-width:100% auto;
max-height:100% auto;
background: transparent;
}

table.google-visualization-table-table {
    background: transparent!important;
}

#pages_message{
background-color:rgb(255,255,255);
position:center;
float:center;
margin-right:50px;
margin-top:40px;
border: 1px solid #e5e5e5;
box-shadow: 0 1px 1px rgba(0,0,0,.04);
border-top-color: #3c8dbc;
border-top-width: 3px;
border-radius: 5px;
}

#text_pages_message{
margin-top:30px;
}

#messages_message{
background-color:rgb(255,255,255);
position:center;
float:center;
margin-right:3%;
margin-top:40px;
border: 1px solid #e5e5e5;
box-shadow: 0 1px 1px rgba(0,0,0,.04);
border-top-color: #dd4b39;
border-top-width: 3px;
border-radius: 5px;
}

#txt_messages_message{
margin-top:30px;
}

.scroll{
overflow:scroll;
height:600px;
width:100%
}

#dash-scroll {
height:800px;
  overflow:auto;  
  margin-top:20px;
}

#theme_buttons{
float:center;
position:center;
border: 2px solid #000;
max-width:300px;
}

#theme_buttons>img{
max-width:300px;
height:auto;
}

#discription{
color:rgba(35,40,45,1);
font-size:17px;
font-family: 'Open Sans', sans-serif;
position:center;
}

#theme_buttons_2{
float:left;
position:center;
border: 2px solid #000;
max-width:300px;
margin-top:-198px;
margin-left:315px;
}

#theme_buttons_2>img{
max-width:300px;
height:auto;
}

#contact{
max-width:370px;
height:auto;
margin-top:10px;
}

#contact_left{
float:left;
max-width:150px;
}

#contact_right{
float:right;
max-width:190px;
margin-left:30px;
}

#check_list_settings{
max-width:700px;
max-height:500px;
}

#check_list_theme{
margin-left:20px;
max-width:300px;
}

#check_list_theme>.fa{
color:rgb(0,0,0);
}

#social_check_list{
margin-left:40px;
}

#extra_check_list{
margin-left:60px;
}

#theme_title{
max-width:300px;
}

#check_list_theme_2{
max-width:300px;
float:right;
margin-top:-450px;
margin-left:100px;
}

footer {
background: #fff;
bottom:0;
padding: 15px;
color: #444;
border-top: 1px solid #d2d6de;
margin-top: 30px;
}

footer>strong{
margin-left:260px;
font-size:14px;
font-family: 'Open Sans', sans-serif;
}

footer>.pull-right{
font-size:12px;
font-family: 'Open Sans', sans-serif;
}

footer>.pull-right>b{
font-size:13px;
font-family: 'Open Sans', sans-serif;
}

#color_label{
display: inline-block;
width:348px;
}

.color-option.selected, .color-option:hover {
background: #b5b5b5;
}

.color-option{
display: inline-block;
padding: 5px 15px 15px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
margin-bottom: 3px;
cursor: pointer;
}

#color_form{
height:300px;
}

#bottom_body_wrapper{
max-width: calc(100% - 260px);
float: left;
width: 100%;
min-width: 100%;
}