/* Stylesheet for the collums on the page */
/* Made by Daan van Beusekom */


/* Col formats */
.col-20{
width:17%;
max-width:17%;
}

.col-25{
width:22%;
max-width:22%;
}

.col-50{
width:47%;
}

.col-75{
width:72%;
}

.col-80{
width:77%;
}

.col-100{
width:97%;
}

/* Col positions */
.left{
float:left;
}

.right{
float:Right;
}

.col:not(.no-style-col){
float: left;
padding: 15px;
position:static;
}

.clearfix:not(.nostyle)::after  {
content: "";
clear: both;
display: table;
}

/* Col border colors */

.red-border{
border-top-color: #dd4b39 !important;
}

.green-border{
border-top-color: #00a65a !important;
}

.blue-border{
border-top-color: #3c8dbc !important;
}

.grey-border{
border-top-color: #b9b9b9 !important;
}

.yellow-border{
border-top-color: #f39c12 !important;
}

.aqua-border{
border-top-color: #00c0ef !important;
}


.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

/* Padding */

.no-padding{
padding:0px !important;
padding-right:0px !important;
padding-left:0px !important;
padding-top:0px !important;
padding-bottom:0px !important;
}

/* Info boxes */

.info-box{
display: block;
min-height: 90px;
background: #fff;
width: 100%;
box-shadow: 0 1px 1px rgba(0,0,0,0.1);
border-radius: 2px;
}

.info-box-content {
padding: 5px 10px;
margin-left: 90px;
font-family: 'Open Sans', sans-serif;
}

.info-box-text {
text-transform: uppercase;
}

.progress-description, .info-box-text {
display: block;
font-size: 14px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
font-family: 'Open Sans', sans-serif;
}

.info-box-number {
display: block;
font-weight: bold;
font-size: 16px;
}
